<div class="mb-5 text-center d-flex justify-content-center gap-4">
  <%= image_tag "banner_example.png", class: "img-fluid rounded shadow mb-4 w-50", alt: "Rugby Analytics Platform" %>
  <%= image_tag "banner_example.png", class: "img-fluid rounded shadow mb-4 w-50", alt: "Rugby Analytics Platform" %>
</div>
