<!-- Features Section -->
<div class="row text-center g-4">
  <!-- Secure -->
  <div class="col-md-4">
    <div class="mb-3">
      <i class="fa-solid fa-pen-to-square text-danger" style="font-size: 40px; width: 40px; height: 40px;"></i>
    </div>
    <h5 class="fw-semibold">Personalized</h5>
    <p class="text-muted small">
      We adapt our AI-generated insights to match your team’s unique strategy, goals, and performance needs.
    </p>
  </div>

  <!-- Secure -->
  <div class="col-md-4">
    <div class="mb-3">
      <i class="fa-solid fa-bullseye text-danger" style="font-size: 40px; width: 40px; height: 40px;"></i>
    </div>
    <h5 class="fw-semibold">Accurate</h5>
    <p class="text-muted small">
      Every action is tracked and translated into clear, reliable data — ensuring you get consistent, fact-based insights from each match.
    </p>

  </div>

  <!-- Secure -->
  <div class="col-md-4">
    <div class="mb-3">
      <i class="fa-solid fa-users-viewfinder text-danger" style="font-size: 40px; width: 40px; height: 40px;"></i>
    </div>
    <h5 class="fw-semibold">Engaging</h5>
    <p class="text-muted small">
      Visually rich and easy to understand, our graphs keep users excited about the game’s performance data.
    </p>
  </div>
</div>
