<div class="row">
  <div class="col-md-6">
    <%= bar_chart(
      [{ name: @match.home_team.name, data: stats.map { |s| [s[:name], -s[:home]] }.to_h }]
    ) %>
  </div>
  <div class="col-md-6">
    <%= bar_chart(
      [{ name: @match.away_team.name, data: stats.map { |s| [s[:name], s[:away]] }.to_h }]
    ) %>
  </div>
</div>
